@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');


body {
    margin: auto;
    font-family: 'Sora', sans-serif;
    font-size: 90%;
}

.container_corpo {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.container_pesquisa {
    /* border: solid 1px red; */
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.container_menu {
    /* border: solid 1px green; */
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.container_info {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo img {
    /* border: solid 1px black; */
    width: 10vw;
    height: 8vh;
}

.container_menu_buttom {
    width: 15vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container_menu_buttom a {
    color: black;
    text-decoration: none;
}

.container_menu_buttom:hover {
    width: 15vw;
    height: 5vh;
    background-color: rgb(221, 221, 24);
    transition: 0.8s;
    
}

.entrar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 2rem;
    border: 1px solid purple;
    background-color: purple;
    color: white;
    border-radius: 5px;
}

#buttom_entrar {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entrar:hover {
    background-color: rgb(97, 11, 97);
}

.buttom_menu {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container_planos {
    width: 100vw;
    height: 30vh;
    /* border: solid 1px red; */
    display: flex;
    justify-content: center;
    align-items: center;
    }

.card_plano {
    /* border: rebeccapurple solid 1px; */
    width: 20vw;
    height: 40vh;
    box-shadow: 0.5px 0.5px 5px black;
    border-radius: 4px;
    animation: fadeIn 1.5s linear;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.card_plano:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
}

.modal {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.modal-content {
    margin: 0 auto;
    margin-top: 15vh;
    max-width: 600px;
    background-color: #eee;
    padding: 0;
    box-shadow: 0 0 2px #fff;
    border-radius: 5px;
    animation: fadeIn 0.8s linear;
}

.modal-body {
    height: 400px;
    /* border: solid 1px greenyellow; */
    display: flex;
    justify-content: space-around;
}

.modal-body div {
    /* border: aqua solid 1px; */
    width: 50%;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
}



.input_modal {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px;
}

.input_modal input {
    width: 15vw;
    height: 3vh;
        
}

.container_descricao_planos {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: space-around;
    height: 20vh;
    align-items: center;
    box-shadow: 0.5px 0.5px 5px black;
    border-radius: 4px;
    animation: fadeIn 1.0s linear;
}

#buttom_value {
    height: 5vh;
    width: 10vw;
    background-color: green;
    border: none;
    color: white;
    font-family: 'Sora', sans-serif;
    font-size: 90%;
    cursor: pointer;
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
}

#buttom_value:hover {
    height: 5vh;
    width: 10vW;
    background-color: rgb(24, 90, 24);
    border: none;
    color: white;
    font-family: 'Sora', sans-serif;
    font-size: 90%;
    cursor: pointer;
    border-radius: 5px;
}

#buttom_voltar {
    height: 2rem;
    width: 8rem;
    background-color: purple;
    border: none;
    color: white;
    font-family: 'Sora', sans-serif;
    font-size: 90%;
    cursor: pointer;
    border-radius: 5px;
}

#buttom_voltar:hover {
    height: 2rem;
    width: 8rem;
    background-color: rgb(153, 10, 153);
    border: none;
    color: white;
    font-family: 'Sora', sans-serif;
    font-size: 90%;
    cursor: pointer;
    border-radius: 5px;
}

.modal-buttom {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.pesquisa {
    border: rgb(0, 0, 0, 0.342) 0.5px solid;
    width: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.pesquisa img {
    width: 1.3vw;
    cursor: pointer;
}

.pesquisa input {
    width: 16vw;
    height: 4vh;
    border-radius: 50px;
    font-family: 'Sora', sans-serif;
    border: 0.0px rgba(0, 0, 0, 0.342) solid;
    outline: none;
    padding-left: 20px;
}

.menu_planos {
    /* border: tomato solid 1px; */
    width: 15vw;
    position: absolute;
    left: 0;
    top: 5vh;
    background-color: yellow;
    display: none;
}

#planos_botao:hover .menu_planos {
    display: block;

}

.menu_planos div:hover {
    background-color:  rgb(221, 221, 24);
    cursor: pointer;
}

.menu_planos div {
    height: 5vh;
    /* border: 1px solid black;     */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_sac {
    /* border: tomato solid 1px; */
    width: 15vw;
    position: absolute;
    top: 20vh;
    left: 50vw;
    background-color: yellow;
    display: none;
}

.menu_sac div {
    height: 5vh;
    /* border: 1px solid black;     */
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto_modal {
    padding: 20px;
}

.card_plano_imagem {
    width: 100%;
    height: 70%;
    /*border: 1px solid red;*/
}

.card_plano_buttom {
    width: 100%;
    height: 30%;
    /*border: 1px solid blue;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttom_detalhe {
    width: 7vw;
    height: 3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.buttom_detalhe:hover {
    background-color: rgb(20, 100, 20);
}

.plano_01 {
    color: black;
    /* border: 1px solid blue; */
    width: 45vw;
    height: 18vh;
    display: flex;
    justify-content: space-around;
}

.plano_01 div {
    /* border: solid 1px orangered; */
    width: 20vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    animation: fadeIn 1.0s linear;
}

#preco_01 {
    font-size: 30px;
    text-align: center;
    animation: fadeIn 1.0s linear;
}

.plano_01 div p {
    font-size: 12px;
    /* border: blueviolet 1px solid; */
    margin: 0;
    animation: fadeIn 1.0s linear;
}